* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, #0d0f4d, #080a29);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    position: relative;
}

.logo {
    position: absolute;
    top: 20px;
    left: 170px;
    width: 270px; /* Ajuste conforme necessário */
}

.content {
    text-align: left;
    max-width: 50%;
}

.content h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    margin-bottom: 20px;
    font-family: cursive;
}

.content p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large;
    margin-bottom: 10px;
    font-family: cursive;
}

.start-button {
    display: inline-block;
    padding: 15px 40px;
    margin-top: 20px;
    background-color: #0a63ff;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #0955cc;
}


body {
    background: url('background.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    
}
