body {
    background: url('background.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    padding: 20px;
    background-color: #021529;
    margin-bottom: 200px;
}

/* Ajuste conforme necessário */
.logo {
    position: absolute;
    top: 20px;
    left: 2px;
    width: 150px; 
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
    font-family: cursive;
}

.question {
    font-size: 24px;
    margin: 20px 0;
}

.options {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.option {
    border: 2px solid rgb(255, 255, 255);
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.option:hover {
    background-color: #1b263b;
}